<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>智能匹配</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" href="/resources/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="/resources/layui_ext/dtree/dtree.css" media="all" />
<link rel="stylesheet" href="/resources/layui_ext/dtree/font/dtreefont.css" media="all" />
<link rel="stylesheet" href="/resources/echarts/css/match.css" />

<script src="/resources/echarts/dist/echarts.js"></script>
<script type="text/javascript" src="/resources/layui/layui.js"></script>
</head>
<body class="childrenBody">
	<!-- 头部的盒子 -->
	<header>
		<h1>智能匹配系统</h1>
		<div class="showTime"></div>
		<script>
			var t = null;
			t = setTimeout(time, 1000); //開始运行
			function time() {
				clearTimeout(t); //清除定时器
				dt = new Date();
				var y = dt.getFullYear();
				var mt = dt.getMonth() + 1;
				var day = dt.getDate();
				var h = dt.getHours(); //获取时
				var m = dt.getMinutes(); //获取分
				var s = dt.getSeconds(); //获取秒
				document.querySelector(".showTime").innerHTML =
						"当前时间：" +
						y +
						"年" +
						mt +
						"月" +
						day +
						"日-" +
						h +
						"时" +
						m +
						"分" +
						s +
						"秒";
				t = setTimeout(time, 1000); //设定定时器，循环运行
			}
		</script>
		&
	</header>

	<!-- 页面主体部分 -->
	<section class="mainbox">
		<div class="column">
			<div class="panel line">
				<h2>
					书目余缺情况
				</h2>
				<div class="chart"></div>
				<div class="panel-footer"></div>
			</div>
			<div class=" bar" >
				<h2>柱形图-就业行业</h2>
				<div class="chart" style="      overflow: auto;"></div>
				<div class="panel-footer"></div>
			</div>
		</div>
		<div class="column">
			<!-- no模块制作 -->
			<div class="no">
				<div class="no-hd">
					<ul>
						<li id="lNum">0</li>
						<li id="bNum">0</li>
						<li id="mRatio">0%</li>
						<li id="lRatio">0%</li>
					</ul>
				</div>
				<div class="no-bd">
					<ul>
						<li>教材缺少总量</li>
						<li>教材剩余总量</li>
						<li>匹配率</li>
						<li>缺少率</li>
					</ul>
				</div>
			</div>
			<!-- 地图模块 -->
			<div class="map">
				<div class="map1"></div>
				<div class="map2"></div>
				<div class="map3"></div>
				<div class="chart"></div>
			</div>
		</div>
		<div class="column">
			<div class="bookListPanel">
				<fieldset class="layui-elem-field layui-field-title" >
					<legend style="color: #fff">学校列表</legend>
					<div class="layui-form"  style="margin-top: 6px;">
							<select name="orderId" id="search_orderid" lay-filter="doOrder"  lay-verify="required">
								<option value="">请选择所要查询的征订期号信息</option>
							</select>
					</div>
				</fieldset>

				<div class="booklist">
					<ul id="deptTree" class="dtree" data-id="0"></ul>

				</div>
				<div class="panel-footer"></div>
			</div>

		</div>
	</section>
	<script src="/resources/echarts/js/flexible.js"></script>
	<script src="/resources/echarts/js/echarts.min.js"></script>
	<!-- 先引入jquery -->
	<script src="/resources/echarts/js/jquery.js"></script>
	<!-- 必须先引入china.js 这个文件 因为中国地图需要 -->
	<script src="/resources/echarts/js/china.js"></script>
	<script src="/resources/echarts/js/match.js"></script>






</body>
</html>

