<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wm.jcgl.mapper.SubscriptionMapper">
<!--select  order_id,book_id,grade,SUM(studNum+teaNum) AS 'sumordNum'
     * 			 FROM b_subscription
     * 			 WHERE order_id=5
     * 			 GROUP BY grade,book_id-->
    <select id="getSubscriptionWithOrderId" resultType="com.wm.jcgl.entity.Booksubmit">
        SELECT
           order_id,
           book_id,
           grade,
           SUM(studNum+teaNum) AS sumordNum
        FROM
            b_subscription
        WHERE order_id=#{value}
        GROUP BY grade,book_id

    </select>
<!--    SELECT
           order_id,
           book_id,
					 dept_id,
           grade,
           SUM(studNum+teaNum) AS OrderNum
        FROM
            b_subscription
        WHERE order_id=5
        GROUP BY dept_id,grade,book_id-->
    <select id="getSubscriptionForAllotment" resultType="com.wm.jcgl.entity.Allotment">
        SELECT
           order_id,
           book_id,
           dept_id,
           grade,
           SUM(studNum+teaNum) AS OrderNum
        FROM
            b_subscription
        WHERE order_id=#{value}
        GROUP BY dept_id,grade,book_id

    </select>

</mapper>
